@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

:root {
    --blue-50:#0060df;
    --blue-60:#0250bb;
    --white: #fff;
    --black: #000;
    --gray-40: #6d6d6d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

button {
    font-family: 'Inter', sans-serif;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
}

input {
    font-family: 'Inter', sans-serif;
}

/* Reutilizables */

.button__secondary {    
    background: transparent;
    border: 1px solid var(--blue-50);
    color: var(--blue-50);    
}

.button__primary {    
    background: var(--blue-50);
    border: none;
    color: var(--white);    
}

.button__primary:hover {
    background: var(--blue-60);
}

.button__toggle {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 2em;
}

.button__toggle.active {
    content: '-';
}


.input__primary {
    padding: 10px;
}

.matgin__section {
    margin-top: 150px;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.1em;
}

p {
    line-height: 1.5;
}

/* Reutilizables */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.navbar img {
    height: 32.5833px;
    width: 213px;
}

.main {
    margin-top: 150px;
    width: 100%;
}

/* Section one start */

.main__section__one, .main__section__two, .main__section__three {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

.main__section__one--info {
    width: 60%;
    padding-right: 5em;
}

.main__section__one--info h1 {
    font-size: 40px;
    margin-bottom: 0.5em;
}

.main__section__one--info form input{
    width: 100%;
    margin: 20px 0;
    font-size: 1em;
}

.main__section__one--img {
    width: 40%;
}

.main__section__one--img img{
    width: 100%;
}

/* section one end */

/* section two start */

.main__section__two, .main__section__three {
    margin-top: 150px;
    flex-direction: column;
    align-items: center;
}

.main__section__two--because {
    text-align: center;
}

.main__section__two--because h2 {
    margin-bottom: 0.5em;
}

.main__section__two--because p, .main__section__three--how h2{
    margin-bottom: 2em;
}

.main__section__two--reasons {
    display: flex;    
    justify-content: space-between;
}

.main__section__two--reasons--reason {
    width: 30%;
}

.main__section__two--reasons--reason div{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.main__section__two--reasons--reason div img {
    margin-right: 10px;
}

/* section two end */

/* section three start */

.main__section__three--functions {
    display: flex;
    justify-content: space-around;
}

.main__section__three--functions--function {
    width: 25%;
}

.main__section__three--functions--function div{
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__section__three--functions--function div img {
    max-height: 150px;
}

.main__section__three--functions--function h3 {
    margin: 1.2em 0;
}

/* section three end */

/* section four start */

.main__section__four, .main__section__six {
    display: flex;
    width: 100%;
    background: linear-gradient(
        to right,
        #e53fb0,
        #b059e8
    );
    margin-top: 150px;
    justify-content: center;
    align-items: center;
}

.main__section__four--img {
    width: 40%;
}

.main__section__four--img img{
    width: 100%;
    margin: 60px 0;
    max-height: 500px;
    max-width: 540px;
}

.main__section__four--info {
    width: 50%;
    margin-right: 1em;
    color: var(--white);
}

.main__section__four--info h2, .main__section__four--info p{
    margin-bottom: 0.8em;
}

.main__section__four--info a {
    color: var(--white);
}

/* section four end */

/* section five start */

.main__section__five {    
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 150px;
}

.main__section__five--questions {
    width: 50%;    
    margin: 1em;
}

.main__section__five--questions h2 {
    margin-bottom: 0.5em;
}

.main__section__five--questions a {    
    color: var(--blue-50);
}

.main__section__five--links {
    width: 45%;
}

.main__section__five--links--link div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__section__five--links--link div p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.main__section__five--links--link--content {
    display: none;
    color: var(--gray-40);    
    margin-bottom: 1em;
}

.button__toggle.active {
    content: '-';
}

/* section five end */

/* section six start */

.main__section__six--info {
    margin: 80px 0;
    text-align: center;
    color: var(--white);
}

.main__section__six--info h2 {
    margin-bottom: 1em;
}

.main__section__six--info button {
    margin-bottom: 2em;
}

/* section six end */

/* Footer Start */

.footer {
    background: var(--black);
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

.footer--logo h3 {
    margin: 0.5em 2em;
    color: var(--white);
}

.footer--links a {
    color: var(--white);
    margin-right: 2em;
    text-decoration: none;
}

/* Footer End */